html {
    background-color: #E4E4E4;
}

h1 {
    color:;
    text-align:center;
    background-color:#ACFFFF;
    border:#686868 1px solid;
    height:75px;
    padding-top:40px;
    text-decoration:underline;
    font-size:35px;
    padding-left:30px;
}

dt {
    padding-left: 15px;
    font-size:22px;
    font-weight:900;
}
dd {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}


body {
    font-family: 'Raleway', sans-serif;

}

dd img {
    width:600px;
    margin-top:10px;
    border:#686868 1px solid;
    height:auto;
}

dd img.float-pics {
    width:250px;
    height:auto;
    border: 0;
    float:left;
    padding:10px;
}

.clear-both{
    clear:both;
}

a:visited {
    color: blue;
}

.twitter-handles {
  position: fixed;
  bottom: 1em;
  right: 2.5em;
}

footer {
    padding-top:50px;
    clear:both;
}